<!-- <nav  aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
    <li class="breadcrumb-item"><a href="/user_sign_in">Sign in!</a></li>
    <li class="breadcrumb-item"><a href="/login_confirmation">My Page</a></li>
    <li class="breadcrumb-item"><a href="/user_sign_out">Sign Out!</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= session.fetch( :user_username) %></li>
  </ol>
</nav> -->

<!--
<center><h1>GPA Calculator</h1></center>

  
  <h2>Sign in!</h2>
  <a href="/user_sign_in">Click here!</a>

  <center>
  <h2>Sign up!</h2>
  <a href="/user_sign_up">Click here!</a>
  </center>

  <h2>Add a Course!</h2>
  <a href="/new_course">Click here!</a>
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">GPA Pal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/user_sign_in">Sign in!</a>
      <a class="nav-item nav-link" href="/user_sign_out">Sign out!</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><%= session.fetch( :user_username) %></a>
    </div>
  </div>
</nav>

<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to GPA Pal!</h1>
      <p>Your best friend for tracking your GPA, recording classes, and predicting your future grades!</p>
      <p><a class="btn btn-primary btn-lg" href="/learn_more" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Sign in!</h2>
        <p>Returning user? Sign in hereto return to your database! </p>
        <p><a class="btn btn-info" href="/user_sign_in" role="button">Sign in!</a></p>
      </div>
      <div class="col-md-4">
        <h2>Add a class</h2>
        <p>Already logged in? Add additional courses to your database here! </p>
        <p><a class="btn btn-info" href="/user_sign_up" role="button">Add course!</a></p>
      </div>
      <div class="col-md-4">
        <h2>Sign up!</h2>
        <p>New to this site? Create an account here to start making your database!</p>
        <p><a class="btn btn-info" href="/new_course" role="button">Sign up!</a></p>
      </div>
    </div>
  </div> 

  </main>
