<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/user_sign_in">Sign in!</a></li>
    <li class="breadcrumb-item active" aria-current="page">My Page</li>
    <li class="breadcrumb-item"><a href="/user_sign_out">Sign Out!</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= session.fetch( :user_username) %></li>
  </ol>
</nav>

<h1>Please confirm user</h1>

<form action="/verify_guy" method="post">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter your username...">

  <label for="browser_password">Password</label>
  <input id="browser_password" type="password" name="input_password" placeholder="Enter your password...">

  <button type="submit" class="btn btn-primary">Confirm</button>
</form>
