<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sign in!</li>
    <li class="breadcrumb-item"><a href="/login_confirmation">My Page</a></li>
    <li class="breadcrumb-item"><a href="/user_sign_out">Sign Out!</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= session.fetch( :user_username) %></li>
  </ol>
</nav> 
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">GPA Pal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/user_sign_in">Sign in!</a>
      <a class="nav-item nav-link" href="/user_sign_out">Sign out!</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><%= session.fetch( :user_username) %></a>
    </div>
  </div>
</nav> -->

<h2>Sign in!</h2>
<form action="/verify_guy" method="post">
  <label for="browser_username">Username</label>
  <input id="browser_username" type="text" name="input_username" placeholder="Enter your username...">

  <label for="browser_password">Password</label>
  <input id="browser_password" type="password" name="input_password" placeholder="Enter your password...">

  <button type="submit" class="btn btn-primary">Sign in!</button>
</form>