<h1>Hi! I'm Test Guy</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/WelshCorgi.jpeg" alt="This is me!" width="250" height="290">



<h3>Put mischellaneous code under me :)</h3>
<!-- here goes the codeeeeee -->

<dt><em>GPA: </em><%= Course.average :grade %></dt> 

GPA: <%= @user.own_courses.pluck(:grade)%>

each do |course|

course.grade.to_s.to_f

do |course| %></dt>
    <dd> <%= course.grade.to_s.to_f %> </dd>
     <% end %>