<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/user_sign_in">Sign in!</a></li>
    <li class="breadcrumb-item"><a href="/login_confirmation">My Page</a></li>
    <li class="breadcrumb-item"><a href="/user_sign_out">Sign Out!</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= session.fetch( :user_username) %></li>
  </ol>
</nav>

<h1>Add a course</h1>

<form action="/insert_course_record">
  <label for="browser_name">Course Name:</label>
  <input id="browser_name" type="text" name="input_course_name" placeholder="Enter the course name!">

  <label for="browser_code">Course Code:</label>
  <input id="browser_code" type="text" name="input_course_code" placeholder="Enter the course code!">
  
  <label for="browser_requirement">Requirement:</label>
  <input id="browser_requirement" type="text" name="input_course_requirement" placeholder="Major, Core, Elective, ect">

  <label for="browser_grade">Grade:</label>
  <input id="browser_grade" type="password" name="input_course_grade" placeholder="Use 4.0 format, e.g. 3.7">


  <button type="submit" class="btn btn-primary">Add course!</button>
</form>

