<h1>Course Details</h1>

<dl>
  <dt>
    <b>Course</b>
  </dt>
    <dd>
      <%= @course.course_name %>
    </dd>
  <dt>
    <b>Course Code</b>
  </dt>
    <dd>
      <%=  @course.course_code %>
    </dd>
  <dt>
    <b>Requirement</b>
  </dt>
    <dd>
      <%=  @course.requirement %>
    </dd>
  <dt>
    <b>Grade</b>
  </dt>
    <dd>
      <%=  @course.grade %>
    </dd>
</dl>

